name: Binary builds

on:
  pull_request:
    paths:
      - '.github/workflows/binary-builds.yml'
      - '.nvmrc'
      - '.pnpmfile.cjs'
      - 'bin/**'
      - 'data/**'
      - 'index.cjs'
      - 'lib/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - '!**.poku.js'
  push:
    branches:
      - release/*
    tags:
      - 'v*'
    paths:
      - '.github/workflows/binary-builds.yml'
      - '.nvmrc'
      - '.pnpmfile.cjs'
      - 'bin/**'
      - 'data/**'
      - 'index.cjs'
      - 'lib/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - '!**.poku.js'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  binaries:
    if: github.repository == 'cdxgen/cdxgen'
    strategy:
      fail-fast: false
      matrix:
        os: [ darwin, linux, windows ]
        arch: [ amd64, arm64]
        libc: [ gnu, musl ]
        exclude:
          # musl can only be built on linux
          - os: darwin
            libc: musl
          - os: windows
            libc: musl
        include:
          # Set all the runners
          - os: darwin
            arch: amd64
            runner: macos-15-intel
          - os: darwin
            arch: arm64
            runner: macos-14
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
            prepare: |
              wget https://github.com/upx/upx/releases/download/v5.1.0/upx-5.1.0-amd64_linux.tar.xz
              tar -xvf upx-5.1.0-amd64_linux.tar.xz
              chmod +x upx-5.1.0-amd64_linux/upx
              sudo cp upx-5.1.0-amd64_linux/upx /usr/local/bin/
              rm -rf upx-5.1.0-amd64_linux*
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
            prepare: |
              wget https://github.com/upx/upx/releases/download/v5.1.0/upx-5.1.0-arm64_linux.tar.xz
              tar -xvf upx-5.1.0-arm64_linux.tar.xz
              chmod +x upx-5.1.0-arm64_linux/upx
              sudo cp upx-5.1.0-arm64_linux/upx /usr/local/bin/
              rm -rf upx-5.1.0-arm64_linux*
          - os: windows
            arch: amd64
            runner: windows-2022
          - os: windows
            arch: arm64
            runner: windows-11-arm
          # Set musl configurations
          - os: linux
            image: php:8.4-bullseye
            libc-suffix: ''
            node-download-url: https://nodejs.org/dist/
            prepare: |
              apt update
              apt install -y curl xz-utils
              ARCH="amd64"
              if [ "$(uname -m)" = "aarch64" ]; then ARCH="arm64"; fi
              curl -L -O "https://github.com/upx/upx/releases/download/v5.1.0/upx-5.1.0-${ARCH}_linux.tar.xz"
              tar -xvf "upx-5.1.0-${ARCH}_linux.tar.xz"
              chmod +x "upx-5.1.0-${ARCH}_linux/upx"
              cp "upx-5.1.0-${ARCH}_linux/upx" /usr/local/bin/
              rm -rf "upx-5.1.0-${ARCH}_linux*"
          - os: linux
            libc: musl
            image: php:8.4-alpine3.21
            libc-suffix: -musl
            node-download-url: https://unofficial-builds.nodejs.org/download/release/
            prepare: |
              apk add --no-cache bash curl libstdc++ upx
          # Set the commands & file-extensions
          - cmd: |
              # Prepare workspace
              rm -rf *.cdx.json ADVANCED.md ci contrib devenv.* pyproject.toml renovate.json semicolon_delimited_script test tools_config uv.lock pnpm-workspace.yaml .versions upx-5.1.0*
              pnpm install:prod --config.node-linker=hoisted
              rm -rf .pnpm-store
              # Set UPX flag based on uname (Works in Docker and on Host)
              UPX_FLAG=""
              if [ "$(uname -s)" = "Linux" ]; then
                UPX_FLAG="--upx"
              fi

              # Produce cdxgen binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdxgen-metadata.json --output cdxgen $UPX_FLAG -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/cdxgen.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdxgen-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps
              chmod +x cdxgen
              ./cdxgen --version
              ./cdxgen --help

              # Prepare for slim binaries
              rm -rf node_modules
              pnpm install:prod --config.node-linker=hoisted --no-optional
              rm -rf .pnpm-store
              
              # Produce slim cdxgen binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdxgen-slim-metadata.json --output cdxgen-slim $UPX_FLAG -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/cdxgen.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdxgen-slim-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps
              chmod +x cdxgen-slim
              ./cdxgen-slim --version
              ./cdxgen-slim --help

              # Produce verify binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdx-verify-metadata.json --output cdx-verify $UPX_FLAG -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/verify.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdx-verify-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps              
              chmod +x cdx-verify
              ./cdx-verify --version
              ./cdx-verify --help
            ext: ''
          - os: windows
            cmd: |
              # Prepare workspace
              Remove-Item -Path ADVANCED.md,ci,contrib,devenv.*,pyproject.toml,renovate.json,test,tools_config,uv.lock,pnpm-workspace.yaml -Force -Recurse
              pnpm install:prod --config.node-linker=hoisted
              # Produce cdxgen binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdxgen-metadata.json --output cdxgen.exe -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/cdxgen.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdxgen-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps
              .\cdxgen.exe --version
              .\cdxgen.exe --help

              # Prepare for slim binaries
              Remove-Item node_modules -Force -Recurse
              pnpm install:prod --config.node-linker=hoisted --no-optional

              # Produce slim cdxgen binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdxgen-slim-metadata.json --output cdxgen-slim.exe -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/cdxgen.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdxgen-slim-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps
              .\cdxgen-slim.exe --version
              .\cdxgen-slim.exe --help

              # Produce verify binary
              pnpm --package=@appthreat/caxa dlx caxa --input . --metadata-file .cdx-verify-metadata.json --output cdx-verify.exe -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/bin/verify.js"
              # Generate sbom
              node bin/cdxgen.js -t caxa -t jar -t php -t ruby -o .cdx-verify-postbuild.cdx.json --lifecycle post-build --include-formulation --no-install-deps
              .\cdx-verify.exe --version
              .\cdx-verify.exe --help
            ext: .exe
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write  # needed to issue a GH release or uploading release assets
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup pnpm
        if: ${{ matrix.os != 'linux' }}
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js
        if: ${{ matrix.os != 'linux' }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
      - name: Install composer
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        if: ${{ matrix.os == 'darwin' }}
      - name: Get user info
        id: user_info
        if: ${{ matrix.os == 'linux' }}
        run: |
          echo -n "user=$(id -u):$(id -g)" >> $GITHUB_OUTPUT
      - name: Build for linux
        if: ${{ matrix.os == 'linux' }}
        run: |
          cat << "EOF" > build-in-docker.sh
          #!/bin/sh
          set -e
          ${{ matrix.prepare }}
          exec bash << "BASH_EOF"
          set -e
          export NVM_DIR="$HOME/.nvm"
          mkdir -p "$NVM_DIR"
          touch "$HOME/.bashrc" "$HOME/.profile"
          NVM_VERSION=$(awk 'BEGIN {ORS=""}; FNR==2 {print $1}' .versions/nvm)
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/$NVM_VERSION/install.sh | bash
          if [[ "${{ matrix.libc }}" == "musl" ]]; then
            sed -i 's/x64-musl/"${NVM_ARCH}-musl"/g' "$NVM_DIR/nvm.sh"
          fi
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" --no-use
          nvm install
          npm install --global pnpm
          curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
          ${{ matrix.cmd }}
          chown -R ${{ steps.user_info.outputs.user }} .
          BASH_EOF
          EOF
          chmod +x build-in-docker.sh
          
          docker run --rm \
            --network host \
            -v "${{ github.workspace }}:${{ github.workspace }}" \
            -w "${{ github.workspace }}" \
            -e NVM_NODEJS_ORG_MIRROR="${{ matrix.node-download-url }}" \
            -e FETCH_LICENSE=true \
            ${{ matrix.image }} \
            /bin/sh build-in-docker.sh
      - name: Build for darwin & windows
        if: ${{ matrix.libc == 'gnu' && matrix.os != 'linux' }}
        run: ${{ matrix.cmd }}
        env:
          FETCH_LICENSE: true
      - name: Correct filenames # <name>-<os>-<arch>[-<libc-suffix>][-<variant>][.ext]
        run: |
          # Rename to temporary name -- fix for renaming to the same name, which does not work
          mv cdxgen${{ matrix.ext }} _cdxgen
          mv cdxgen-slim${{ matrix.ext }} _cdxgen-slim
          mv cdx-verify${{ matrix.ext }} _cdx-verify

          # Rename to the correct name
          mv _cdxgen cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
          mv _cdxgen-slim cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}
          mv _cdx-verify cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}

          # Rename sbom to correct name
          mv .cdxgen-postbuild.cdx.json cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json
          mv .cdxgen-slim-postbuild.cdx.json cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim-postbuild.cdx.json
          mv .cdx-verify-postbuild.cdx.json cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json
      - name: Generate checksums for darwin
        if: ${{ matrix.os == 'darwin' }}
        run: |
          shasum -a 256 cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }} > cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
          shasum -a 256 cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }} > cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}.sha256
          shasum -a 256 cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }} > cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
      - name: Generate checksums for linux
        if: ${{ matrix.os == 'linux' }}
        run: |
          sha256sum cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }} > cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
          sha256sum cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }} > cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}.sha256
          sha256sum cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }} > cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
      - name: Generate checksums for windows
        if: ${{ matrix.os == 'windows' }}
        run: |
          (Get-FileHash .\cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}).hash | Out-File -FilePath .\cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
          (Get-FileHash .\cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}).hash | Out-File -FilePath .\cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}.sha256
          (Get-FileHash .\cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}).hash | Out-File -FilePath .\cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
          path: |
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json
          if-no-files-found: error
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}
          path: |
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim-postbuild.cdx.json
          if-no-files-found: error
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
          path: |
            cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
            cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json
          if-no-files-found: error
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim${{ matrix.ext }}.sha256
            cdxgen-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-slim-postbuild.cdx.json
            cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}
            cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}${{ matrix.ext }}.sha256
            cdx-verify-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.libc-suffix }}-postbuild.cdx.json

  retry:
    needs: binaries
    if: failure() && fromJSON(github.run_attempt) < 2
    runs-on: ubuntu-latest
    steps:
      - run: gh workflow run rerun-workflow.yml -F run_id=${{ github.run_id }}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}