name: Build image(s) on PR

on:
  pull_request:
    paths:
      - ci/images/**/Dockerfile.*

env:
  NEXUS_ALPINE_REPO_PATH: /repository/alpine
  NEXUS_COMPOSER_PATH: /repository/composer
  NEXUS_DEBIAN_REPO_PATH: /repository/debian
  NEXUS_DOTNETCLI_PATH: /repository/dotnetcli
  NEXUS_GITHUB_PATH: /repository/github
  NEXUS_GITHUB_RAW_PATH: /repository/github-raw-user-content
  NEXUS_GOOGLE_PATH: /repository/google
  NEXUS_NODEJS_PATH: /repository/nodejs
  NEXUS_NPM_REPO_PATH: /repository/npm
  NEXUS_NUGET_REPO_PATH: /repository/nuget
  NEXUS_OPENSUSE_CODECS_REPO_PATH: /repository/opensuse-codecs
  NEXUS_OPENSUSE_REPO_PATH: /repository/opensuse
  NEXUS_PORT: 8081
  NEXUS_PYPI_REPO_PATH: /repository/pypi
  NEXUS_REDHAT_REPO_PATH: /repository/redhat
  NEXUS_RUBY_LANG_PATH: /repository/ruby-lang
  NEXUS_RUBYGEMS_REPO_PATH: /repository/rubygems
  NEXUS_SDKMAN_PATH: /repository/sdkman
  NEXUS_SERVER: 100.73.146.80
  NEXUS_SUSE_MICROSOFT_REPO_PATH: /repository/suse-microsoft
  NEXUS_SUSE_REPO_PATH: /repository/suse
  NEXUS_SWIFT_PATH: /repository/swift
  NEXUS_UBUNTU_REPO_PATH: /repository/ubuntu

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  filter:
    if: github.repository == 'cdxgen/cdxgen'
    runs-on: ubuntu-24.04
    outputs:
      imagefiles: ${{ steps.changed.outputs.files }}
    steps:
      - name: Get changed files
        id: changed
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data } = await github.rest.repos.compareCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              base: context.payload.pull_request.base.sha,
              head: context.payload.pull_request.head.sha
            });

            const files = [
              ...new Set((data.files)
                .filter(file => file.status !== 'removed' && /^ci\/images\/.*\/?Dockerfile.*$/.test(file.filename))
                .map(file => file.filename))
            ];

            core.setOutput("files", JSON.stringify(files));
  image:
    if: github.repository == 'cdxgen/cdxgen'
    needs: filter
    strategy:
      fail-fast: false
      matrix:
        imagefile: ${{ fromJson(needs.filter.outputs.imagefiles) }}
        platform: [ amd64, arm64 ]
        # Some images don't work on linux/arm64
        exclude:
          - imagefile: ci/images/Dockerfile.dotnet7
            platform: arm64
          - imagefile: ci/images/Dockerfile.dotnet8
            platform: arm64
          - imagefile: ci/images/Dockerfile.dotnet9
            platform: arm64
          - imagefile: ci/images/Dockerfile.ruby2.5
            platform: arm64
          - imagefile: ci/images/debian/Dockerfile.ruby2.6
            platform: arm64
        include:
          # Set the runners
          - platform: amd64
            runner: ubuntu-24.04
          - platform: arm64
            runner: ubuntu-24.04-arm
          # Some images must be built on self-hosted
          - imagefile: ci/images/opensuse/Dockerfile.python3.9
            platform: amd64
            runner: [ self-hosted, amd64 ]
          - imagefile: ci/images/opensuse/Dockerfile.python3.9
            platform: arm64
            runner: [ self-hosted, arm64 ]
          - imagefile: ci/images/opensuse/Dockerfile.python3.10
            platform: amd64
            runner: [ self-hosted, amd64 ]
          - imagefile: ci/images/opensuse/Dockerfile.python3.10
            platform: arm64
            runner: [ self-hosted, arm64 ]
    runs-on: "${{ matrix.runner }}"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup tool versions
        id: versions
        run: |
          cd .versions
          cat >> "$GITHUB_OUTPUT" << EOF
          docker-args<<VALUE
          $(awk 'FNR==2 {print "\""toupper(FILENAME)"="$1"\""}' *)
          VALUE
          EOF
      - name: Setup Nexus usage
        id: nexus
        if: ${{ contains(matrix.runner, 'self-hosted') }}
        run: |
          NPM_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_NPM_REPO_PATH
          echo -e "registry=$NPM_REPO\n@jsr:registry=$NPM_REPO" > .npmrc
          cat >> "$GITHUB_OUTPUT" << EOF
          docker-args<<VALUE
          "ALPINE_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_ALPINE_REPO_PATH"
          "COMPOSER_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_COMPOSER_PATH"
          "DEBIAN_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_DEBIAN_REPO_PATH"
          "DOTNETCLI_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_DOTNETCLI_PATH"
          "GITHUB_RAW_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_GITHUB_RAW_PATH"
          "GITHUB_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_GITHUB_PATH"
          "GOOGLE_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_GOOGLE_PATH"
          "NODEJS_DIST_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_NODEJS_PATH/dist"
          "NPM_REPO=$NPM_REPO"
          "NUGET_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_NUGET_REPO_PATH"
          "OPENSUSE_CODECS_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_OPENSUSE_CODECS_REPO_PATH"
          "OPENSUSE_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_OPENSUSE_REPO_PATH"
          "PIP_CONFIG=[global]\nindex-url=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_PYPI_REPO_PATH/simple\ntrusted-host=$NEXUS_SERVER"
          "REDHAT_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_REDHAT_REPO_PATH"
          "RUBY_LANG_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_RUBY_LANG_PATH"
          "RUBYGEMS_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_RUBYGEMS_REPO_PATH"
          "SDKMAN_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_SDKMAN_PATH/2"
          "SUSE_MICROSOFT_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_SUSE_MICROSOFT_REPO_PATH"
          "SUSE_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_SUSE_REPO_PATH"
          "SWIFT_URL=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_SWIFT_PATH"
          "UBUNTU_REPO=http://$NEXUS_SERVER:$NEXUS_PORT$NEXUS_UBUNTU_REPO_PATH"
          VALUE
          EOF
      - name: Build image
        uses: ./.github/actions/build-docker-image
        with:
          dockerfile: ${{ matrix.imagefile }}
          docker-args: |
            ${{ steps.versions.outputs.docker-args }}
            ${{ steps.nexus.outputs.docker-args }}
          platforms: linux/${{ matrix.platform }}
          target: cdxgen
